{% extends 'base.html' %}

{% block content %}
    <center><h1>{% block title %} Car Inventory App {% endblock %}</h1></center>
    <img src="{{url_for('static', filename='img/car-logo.webp')}}" align="middle" />

   <center><h1 class="display-3">Error (500): Server Error</h1>
    <hr>
   <img src="{{url_for('static', filename='img/error404.webp')}}" width="250" align="middle" />
   <br>
   <a class="btn btn-primary" href="{{ url_for('index')}}" role="button">Click here to return</a>
</center>
{% endblock %}